<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="Test">
    <classes>
      <class name="demo_testCases.Smoke_Create_Event_VideoTest"/>
     <!--  <class name="demo_testCases.Smoke_Create_Event_ExistingList"/>
      <class name="demo_testCases.smoke_Create_Event_NewFresh"/>
      <class name="demo_testCases.Smoke_Create_Event_Gif_Test"/>
      <class name="demo_testCases.Smoke_Create_Event_WithGreenScreen"/>
      -->
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
